#!/bin/bash
# {{ title }}
# {{ description }}
# OS targets: {{ os|join(", ") }}
# Packaging: {{ "yes" if needsPackaging else "no" }}
# Scheduler: {{ "yes" if needsScheduler else "no" }}
# Network: {{ "yes" if requiresNetwork else "no" }}

echo "Hello from your custom bash script!"
# TODO: implement