"""
{{ title }}

{{ description }}

OS targets: {{ os|join(", ") }}
Packaging: {{ "yes" if needsPackaging else "no" }}
Scheduler: {{ "yes" if needsScheduler else "no" }}
Network:   {{ "yes" if requiresNetwork else "no" }}
"""

def main():
    print("Hello from your custom script!")
    # TODO: implement

if __name__ == "__main__":
    main()